@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap');

body {
  background-color: #26292E;
  padding-bottom: 60px;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}